
p{
    color: white;
    font-size: 15px;
}

#tex{
    color: white;
    font-size: 20px;
}

.container{
    width: 100%;
    height: 55px;
}
body{
    margin: 0px;
    background: url("image/Fondd.jpg");
    background-size: 100%;
}